# Ignore node_modules
node_modules
.next

# Ignore local environment files
.env
.env.local

# Ignore version control
.git
.github

# Ignore root tsconfig to prevent build issues inside Docker
tsconfig.json

# Ignore the backend directory for the frontend build
cloud-native-superapp/backend
