# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
.npm

# Next.js
.next/
dist/
build/
out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db